/* @formatter:off */
* { /* border: 1px solid var(--noroff-dark-black); /**/ }
#toggle-element {display:block;}

header {
    position: fixed;
    top:0;
    left:0;
    background-color: var(--noroff-red);
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo {padding: 10px;width: 100%;}
.nav-desktop, .navMobile { display: none; }
.nav-mobile {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    max-width: 100%;
}

.nav-mobile {display: flex;position: absolute;top: 0;z-index: 2;}
.nav-mobile,
.nav-mobile div {justify-content: space-between;align-items: center;min-width: 100%;}
.nav-mobile span {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    cursor: pointer;
}

.nav-mobile,
.nav-mobile ul#toggle-element {position: fixed;}
.nav-mobile ul#toggle-element {background-color: var(--noroff-off-white);}
.nav-mobile,
.nav-mobile ul#toggle-element,
.nav-mobile ul#toggle-element li {width: 100%;display: flex;padding: 10px 0;}
.nav-mobile ul#toggle-element,
.nav-mobile ul#toggle-element li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* border-bottom: 2px solid var(--noroff-light-black); /**/
}

.nav-mobile ul#toggle-element li a {padding: 12px;font-weight: bold;}
.nav-mobile span i { padding: 0 5px 5px 0; }
.nav-mobile span strong { font-size: 13px; }
ul li:hover,
ul li.active { background-color: var(--noroff-red); }
ul li.active a { color: var(--noroff-off-white); }
ul li:hover a { color: var(--noroff-dark-black); }
ul li:hover { transition: .5s linear; }

/* This applies from 600px and up */
@media (min-width: 650px) {
    .nav-mobile, #toggle-element {display: none;}
    .nav-desktop {width: 60%;display: flex;justify-content: space-between;}
    .nav-desktop ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

    .nav-desktop ul li,
    .nav-desktop ul li a {
        text-decoration: none;
        font-family: sans-serif;
        flex: 1;
    }
}